<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket details</title>
  </head>
  <body>
    <div>
      <h1>{{ ticket.title }}</h1>
      <p>Current status: {{ ticket.status }}</p>
      <p>In queue since: {{ ticket.time_created }}</p>
      <p>Created by: {{ ticket.creator }}</p>
      <p>User currently assiged to ticket: {{ ticket.owner }}</p>
      <p>Completed by: {{ ticket.last_owner }}</p>
      <p>Description of problem: {{ticket.description }}</p>
    </div>
    <button>
      <a href="edit/">Edit ticket</a>
    </button>
    <button>
      <a href="assign/">Work on ticket</a>
    </button>
    <button>
        <a href="invalid/">Mark as invalid</a>
      </button>
      <button>
        <a href="done/">Mark as done</a>
      </button>
      <button>
        <a href="reopen/">Reopen ticket</a>
      </button>
</br>
</br>
    <button>
      <a href="/">Back to Home</a>
    </button>
  </body>
</html>
