<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket details</title>
  </head>
  <body>
    <div>
      <h1>{{ ticket.title }}</h1>
      <p>Current status: {{ ticket.status }}</p>
      <p>In queue since: {{ ticket.time_created }}</p>
      <p>Created by: {{ ticket.creator }}</p>
      <p>User currently assiged to ticket: {{ ticket.owner }}</p>
      <p>Completed by: {{ ticket.last_owner }}</p>
      <p>Description of problem: {{ticket.description }}</p>
    </div>
    <button>
      <a class="bar" href="edit/">Edit ticket</a>
    </button>
    <button>
      <a href="/"><i class="link">Back to Home</i></a>
    </button>
  </body>
</html>
