<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User info</title>
  </head>
  <body>
    <div>
      {% if not user %}
      <h2>The user you are looking for does not exist</h2>
      {% else %}
      <h1>{{ user.display_name }}</h1>
      <i>Username: {{ user.username }}</i>

      <div>
        <h4>Tickets created</h4>
        <ul>
          {% for ticket in tickets_created %} {% if ticket.creator == user %}
          <li>
            <a href="/ticket/{{ ticket.id }}/"
              >{{ticket.title}} : {{ticket.get_status_display}}</a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>

      <div>
        <h4>Tickets working on</h4>
        <ul>
          {% for ticket in tickets_working %} {% if ticket.owner == user %}
          <li>
            <a href="/ticket/{{ ticket.id }}/"
              >{{ticket.title}} : {{ticket.get_status_display}}</a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>

      <div>
        <h4>Tickets completed</h4>
        <ul>
          {% for ticket in tickets_completed %} {% if ticket.last_owner == user%}
          <li>
            <a href="/ticket/{{ ticket.id }}/"
              >{{ticket.title}} : {{ticket.get_status_display}}</a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
</br>
</br>
    <button>
      <a href="/">Back to Home</a>
    </button>
  </body>
</html>
